<div class="w-50 mx-auto mt-3 p-2 rounded-3 text-center" style="background-color: #0dcaf0">
    {{ form_start(form) }}
    {{ form_row(form.q) }}
    {{ form_row(form.postal_c) }}
    <div class="d-inline-block">
        <button type="submit" class="btn btn-primary btnSize">Rechercher</button>
        <a href="/">
            <button class="btn btn-danger btnSize">Retour</button></a>
    </div>
    {{ form_end(form) }}
</div>