<div class="w-100 mx-auto mt-4 p-4 rounded-3 text-center" style="background-color: rgba(13,202,40,0.8)">
    {{ form_start(form) }}
    {{ form_row(form.q) }}
    {{ form_row(form.postal_c) }}
    <div class="d-inline-block">
        <button type="submit" class="btn btn-primary btnSize">Rechercher</button>
        <a href="/">
            <button class="btn btn-danger btnSize">Retour</button></a>
    </div>
    {{ form_end(form) }}
</div>