{% extends 'base.html.twig' %}

{% block title %}Recherche des Communes{% endblock %}

{% block body %}
    <div class="container">
        <div class="grid">
            {% for com in city %}
                {% include'search_home/_city.html.twig' with {com: com} only %}
            {% endfor %}
        </div>
    </div>


{% endblock %}
