{% extends 'base.html.twig' %}

{% block title %}Recherche des Communes{% endblock %}

{% block body %}
    {% include 'header.html.twig' %}
    <div class="container">
        <div>
            {% include 'search_home/_searchNav.html.twig' with {form:form} only %}
        </div>
        <div class="d-flex flex-wrap">
            {% for com in city %}
                {% include'search_home/_city.html.twig' with {com: com} only %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
