/* Background image with breakpoint

For Phones : */
.backImg{
    background-image: url("../pictures/Communes_of_France.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

@media (max-width: 480px) {
    .backImg {
        background-image: url("../pictures/Communes_of_France.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }
}
/*For tablets: */

@media (min-width: 481px) and (max-width: 1024px) {
    .backImg {
        background-image: url("../pictures/Communes_of_France.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }
}
/* For desktop devices: */

@media (min-width: 1025px) {
    .backImg {
        background-image: url("../pictures/Communes_of_France.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
    }
}

.btnSize{
    width: 135px;
    height: 45px;
}

.cnt{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cntLogin{
    width: 300px;
    height: 450px;
    background-color: rgba(13,202,40,0.8);
    border-radius: 1.5rem;
}
.ctnCo{
    width: 600px;
    height: 300px;
    background-color: rgba(13,202,40,0.8);
    border-radius :1.5rem;
}

.perso{
    width: 600px;
    height: 630px;
    background-color: rgba(1,1,122,0.8);
    border-radius: 1.5rem;
}

.fontH1{
    border-bottom: white 3px solid;
    padding-bottom: 0.5rem;
}

.coMember{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 0.5rem;
}

.coMember p{
    margin-bottom: 0.5rem;
}
.btnCo{
    margin: auto;
}

.btnCo i{
    font-style: normal;
    margin: 0.5rem;
}

.fontCol{
    color: white;
}