{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar rounded-3" style="background-image: linear-gradient(to bottom right, #4f9bc6,#689d71)">
        <div class="container-fluid">
            <div class="d-flex justify-content-around">
                <img src="{{ asset('asset/pictures/Polivert.jpeg') }}" alt="Logo" width="82" height="65"
                     class="shadow rounded-3">
                <h1 class="text-center">Hello</h1>
            </div>
        </div>
    </nav>
{% endblock %}