{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar rounded-3 shadow-lg" style="background-color: #689d71">
        <div class="container-fluid">
            <div class="d-flex">
                <a href="/">
                    <img src="{{ asset('asset/pictures/Polivert.jpeg') }}" alt="Logo" width="82" height="65"
                         class="shadow rounded-3">
                </a>
            </div>
            <div>
                <a href="/" style="text-decoration: none; color:black ">
                    <h1 class="text-center">Titre de l'application</h1>
                </a>
            </div>
            <div>
                <a href="/login">
                    <button class="btn btn-outline-dark" type="button">Se connecter / S'inscrire</button>
                </a>
            </div>
        </div>
    </nav>
{% endblock %}

